<div class="container">
  <div id="travel-journal" class="row">
    <div class="span5">
      <h1>Travel Journal</h1>
      <% if current_user.log_entries.size > 0 %>
        <h3>You have traveled to <%= pluralize(current_user.log_entries.size,'Destination') %></h3>
        <table id= "travel-log" class="table table-striped">
          <thead>
            <th><h3>Name</h3></th>
            <th><h3>Visited</h3></th>
          </thead>
        <% @user_log.each do |log_entry| %>
          <tbody>
            <td><%= link_to smart_truncate(log_entry.location.name, words:4), log_entry.location, class: "location", data: { lat: log_entry.location.latitude, long: log_entry.location.longitude } %></td>
            <td><p><%= log_entry.first_date %></p></td>
          </tbody>
        <% end %>
        </table>
      <% else %>
        <p>You have been to no destinations</p>
      <% end %>    
    </div>
    
    <div class="span7">
      <%= gmaps(
         map_options: {auto_zoom: false, zoom: 2, do_clustering: true },
         markers: { data: @json, options: {rich_marker: true ,raw: '{ optimized: false }' }},
         polylines: { data: @polyline }
         )
      %>    
    </div>
  </div>
</div>

<div class="container">
  <h1>Plan Log</h1>
  <%= simple_form_for (@plan) do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, :class => 'btn-primary' %>
  <% end %>

  <h3><%= pluralize(@plans.size, 'Plan') %></h3>

  <% if @plans.size > 0 %>
    
    <% @plans.each do |plan| %>
     <h3><%= link_to plan.name, plan_path(plan) %></h3>
    <% end %>
  <% end %>  
</div>
