user#show
<p class="notice"><%= notice %></p>
<%= link_to "View Locations", locations_path %>
<%= pluralize(current_user.log_entries.size,'Destination') %>
<%if current_user.log_entries.size > 0 %>
  <h1>Log</h1>
      <table>
        <tr>
          <th>Name</th>
          <th>Date Visited</th>
        </tr>
      <% current_user.log_entries.each do |log_entry| %>
        <tr>
          <td><%= link_to "#{log_entry.location.name}", log_entry.location %></td>
          <td><%= log_entry.first_date %></td>
        </tr>
      <% end %>
  </table>
<% end %>

<%= form_for Plan.new, url: user_plans_path(current_user) do |f| %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
<br>

<h3><%= pluralize(current_user.plans.size, 'Plan') %></h3>
<% if current_user.plans.size > 0 %>
  <table>
    <tr>
      <th>Plan Name</th>
    </tr>
    <% current_user.plans.each do |plan| %>
    <tr>
      <td><%= link_to "#{plan.name}", user_plan_path(current_user, plan) %></td>
      <br>
    </tr>
  </table>
  <% end %>
<% end %>
