plan#show
<h2><%= @plan.name %></h2>

<%= pluralize(@plan_entries.size,'Destination') %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  
  <% @plan_entries.each do |plan_entry| %>
    <tr>
      <td>
        <%= link_to "#{plan_entry.location_name}", plan_entry.location %>
        <%= plan_entry.date %>
        <%= simple_form_for ([plan_entry.location,plan_entry]) do |f| %>
          <%= f.input :date %>
          <br>
          <%= f.button :submit, "Set Date" %>
          <%= button_to 'Delete Entry', [plan_entry.location,plan_entry], method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<%= button_to 'Delete Plan', [current_user,@plan], method: :delete, data: { confirm: 'Are you sure?' } %>
