<div class="container">
  <div class="row">
    <h2><%= @plan.name %></h2>

    <%= pluralize(@plan_entries.size,'Destination') %>
      
      <% @plan_entries.each do |plan_entry| %>
        <%= link_to smart_truncate(plan_entry.location_name), plan_entry.location %>
        <%= plan_entry.date %>
          <%= simple_form_for ([plan_entry.location,plan_entry]) do |f| %>
            <%= f.label :date %>
            <%= f.text_field :date %>
            <%= f.button :submit, value: "Set Date" %>
          <% end %>
        <%= button_to 'Delete Entry', [plan_entry.location,plan_entry], method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

    <%= button_to 'Delete Plan', [current_user,@plan], method: :delete, data: { confirm: 'Are you sure?' } %>

  </div>
</div>
