<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Search" %>
    <%= f.text_field :name_or_states_cont, placeholder: "Search" %>
  </div>
  <% @categories.each do |category| %>
      <%= f.label category %>
      <%= check_box_tag('q[category_eq_any][]', category) %>
  <% end %>
  <br>
    <% @regions.each do |region| %>
      <%= f.label region %>
      <%= check_box_tag('q[region_eq_any][]', region) %>
  <% end %>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<h1>Locations</h1>
    <table>
      <tr>
        <th><h1><%= sort_link(@search, :name, "Name") %></h1></th>
      </tr>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to "#{location.name}", location %></td>
      </tr>
    <% end %>
</table>