<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Search" %>
    <%= f.text_field :name_or_states_cont, placeholder: "Search" %>
  </div>
  <% Location.categories.each do |category| %>
      <%= check_box_tag('q[category_eq_any][]', category) %>
      <%= f.label category %>
  <% end %>
  <br>
    <% Location.regions.each do |region| %>
      <%= check_box_tag('q[region_eq_any][]', region) %>
      <%= f.label region %>
  <% end %>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<h1>Locations</h1>
    <table>
      <tr>
        <th><%= sort_link(@search, :name, "Name") %></th>
      </tr>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to smart_truncate(location.name, words: 4), location %></td>
      </tr>
    <% end %>
</table>

<%= paginate @locations %>

<%if current_user %>
  <%= gmaps(
     map_options: {auto_zoom: false, zoom: 2},
     markers: { data: @json, options: {rich_marker: true ,raw: '{ optimized: false }' }},
     polylines: { data: @polyline }
     )
  %>
<% else %>
  <%= gmaps(
     map_options: {auto_zoom: false, zoom: 2},
     markers: { data: @json, options: {rich_marker: true ,raw: '{ optimized: false }'}}
     )
  %>
<% end %>
