<div id="search" class="container">
  <div class="row">
  <%= search_form_for @search, :builder => SimpleForm::FormBuilder do |f| %>
    <div class="field">
      <%= f.text_field :name_or_states_cont, placeholder: "Search" %>
    </div>
    <ul>
      <% Location.categories.each do |category| %>
        <li>
          <%= check_box_tag('q[category_eq_any][]', category) %>
          <%= f.label category %>
        </li>        
      <% end %>
    </ul>
    <ul>
      <% Location.regions.each do |region| %>
        <li>
          <%= check_box_tag('q[region_eq_any][]', region) %>
          <%= f.label region %>
        </li>
      <% end %>
    </ul>
    <%= f.button :submit, value: "Search" %>
  <% end %>  
  </div>


  <div class="row">
   <div class="span3">
    <h2><%= sort_link(@search, :name, "Destinations") %></h2>
      <table class="table table-hover">
      <thead>
        <tr>
          <td>
          </td>
        </tr>
      </thead>
      <% @locations.each do |location| %>
      <tbody>
        <tr>
          <td><%= link_to smart_truncate(location.name, words: 4), location, class: "location", data: { lat: location.latitude, long: location.longitude } %></td>
        </tr>      
      </tbody>
      <% end %>
      </table>
   </div>
   <div id="location-index" class="span9">
    <%if current_user %>
      <%= gmaps(
         map_options: {auto_zoom: false, zoom: 2},
         markers: { data: @json, options: {rich_marker: true ,raw: '{ optimized: false }' }},
         polylines: { data: @polyline }
         )
      %>
    <% else %>
      <%= gmaps(
         map_options: {auto_zoom: false, zoom: 2},
         markers: { data: @json, options: {rich_marker: true ,raw: '{ optimized: false }'}}
         )
      %>
    <% end %>
    </div>
  </div>


  <%= paginate @locations %>  
</div>
