<div class="container">
  <div id="title"class="row">
    <h2><a href="<%= @location.http_url.html_safe %>"><%= @location.name %></a></h2>
  </div>

  <h2>Description</h2>
  <p> 
    <%= @location.description.html_safe %>
  </p>

  <h3>Nearby Locations</h3>
  
  <div class="row">
  <ul>
    <% @nearby_locations.each do |location| %>
      <li><%= link_to location.name, location %> (<%= location.distance.to_f.round(2) %> km)</li>
    <% end %>
  </ul>
  <%= paginate @nearby_locations %>
  </div>

  <div id="location-show" class="row">
  <%if current_user %>
    <%= gmaps(
       map_options: {auto_zoom: false, zoom: 2},
       markers: { data: @json, options: {rich_marker: true ,raw: '{ optimized: false }' }},
       polylines: { data: @polyline }
       )
    %>
  <% else %>
    <%= gmaps(
       map_options: {auto_zoom: false, zoom: 3},
       markers: { data: @json, options: {rich_marker: true ,raw: '{ optimized: false }'}}
       )
    %>
  <% end %>
  </div>

  <%= render 'user_location_show' %>

</div>
