<%= link_to "Return to Locations",locations_path %>
<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Description</b>
</p>
<% if user_signed_in? %>
  <%= form_for [ @location, LogEntry.new] do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "Add to Log" %>
  <% end %>
<% end %>
