<div class="container">
  <div id="title"class="row">
    <h2><a href="<%= @location.http_url.html_safe %>"><%= @location.name %></a></h2>
  </div>

  <h2>Description</h2>
  <p> 
    <%= @location.description.html_safe %>
  </p>

  <h3>Nearby Locations</h3>
  
  <div class="row">
  <ul>
    <% @nearby_locations.each do |location| %>
      <li><%= link_to location.name, location, class: "mark", data: { lat: location.latitude, long: location.longitude } %> (<%= location.distance.to_f.round(2) %> km)</li>
    <% end %>
  </ul>
  <%= paginate @nearby_locations %>
  </div>

  <div id="location-show" class="row">
    <%= render 'shared/gmaps' %>
  </div>

  <%= render 'user_location_show' %>

</div>
